#title_logo{
	font-family: 'Averia Gruesa Libre';
	font-size: 55pt;
	color: white;
}

body{
	margin: 2.5%;
}

#main_jumbo{
	border-radius: 25px;
	background-color: black;
}

#flamelogo{
	height: 70px;
	width: auto;
}

#statements{
	font-family: 'Baloo Chettan 2';
	font-size: larger;
}
.statement{
	padding-top: 5%;
}
#statement1{
	text-align: justify;
}

.rightlogo{
	height: 75pt;
	width: auto;
	float: left;
	padding-top: 2px;
}

.leftlogo{
	height: 75pt;
	width: auto;
	float: right;
	padding-top: 2px;
}

#design{
	width: 100%;
	height: auto;
}

#mentalhealth{
	width: 75px;
	height: auto;
}

#tv{
	/*background-image: url("fire.gif")*/
}

#mainfoot{
	border-radius: 25px;
	background-color: black;
}
/*
canvas {
  display: block;
}

#rain{
	  background: linear-gradient(#000, #151515);
}*/